
.App-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #1e2127;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 10px;

  .App-nav-bar {
    color: #ee4036;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 1.25rem;
    }
  }
  
  .App-logo {
    height: 60px;
    max-height: 100px;
  }
}


.App-content {
  flex: 1;
  background-color: #252930;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 20px;

  h2 {
    color: #ee4036;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
  }

  .App-games-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
    max-width: 1000px;
    aspect-ratio: 16 / 9;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }

  .App-about-us-section {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .custom-card {
      background-color: #1e2127;
      border: 0;
      border-radius: 12px;
      font-size: clamp(1rem, 1.5vw, 1.25rem);
      width: 100%;
    }
  }
}

.App-footer {
  background-color: #1e2127;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  p {
    color: #8d99ae;
    margin: 0;
    white-space: nowrap;
    font-size: 1rem;
  }

  svg {
    color: #ee4036;
    height: 2rem;
    width: auto;
    flex-shrink: 0;
  }

  .footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
  }

  .footer-group {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@media (max-width: 600px) {
  .App-header {
    padding: 0 5px;

    .App-logo {
      height: 50px;
    }
    .App-nav-bar button {
      font-size: 0.9rem;
      min-height: 35px;
    }
  }

  .App-content {
    gap: 30px;
  }

  .footer-item {
    gap: 10px;

    svg {
      height: 1rem;
    }

    p {
      font-size: 0.5rem;
    }

  }

}

